<div id="step{{step}}" class="step">
  <div class="step__content">  
  <div class="step__number">{{step}}</div>
    <div class="step__sub">
      <div class="step__subline"></div>
      <div class="step__sub-text">{{subtitle}}</div>
    </div>
    <h2 class="step__title">{{title}}</h2>
    <p class="step__paragraph">
      {{description}}
    </p>
  </div>
  <img src={{img}} class="step__image"> 
</div>